<%- include("partials/header") -%>

<div class="registerDiv">
  <form class="register animated fadeIn" action="/register" method="post">

    <label class="animated slideInLeft" for="">Name</label><input class="animated slideInRight" type="text" name="name" value="">

    <br><label class="animated slideInLeft" for="">Age</label><input class="animated slideInRight" type="number" name="age" value="">

    <br><label class="animated slideInLeft" for="">Blood Group</label><input class="animated slideInRight" type="text" name="bloodGroup" value="">

    <br><label class="animated slideInLeft" for="">Phone No.</label><input class="animated slideInRight" type="text" name="phoneNo" value="">

    <br><label class="animated slideInLeft" for="">Additional Phone No.</label><input class="animated slideInRight" type="text" name="addPhoneNo" value="">

    <br><label class="animated slideInLeft" for="">Address</label><input class="animated slideInRight" type="text" name="address" value="">

    <br><label class="animated slideInLeft" for="">State</label><input class="animated slideInRight" type="text" name="state" value="">

    <br><label class="animated slideInLeft" for="">District</label><input class="animated slideInRight" type="text" name="district" value="">

    <br><label class="animated slideInLeft" for="">Email</label><input class="animated slideInRight" type="email" name="email" value="">

    <br><label class="animated slideInLeft" for="">Password</label><input class="animated slideInRight" type="password" name="password" value="">

    <button type="submit" class="btn btn-light btnRegister animated slideInDown">Register</button>

  </form>
</div>









<%- include("partials/footer") -%>
